# Git ignore file

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Object files
*.o
*.moc

# Libraries
*.lib

# Shared objects
*.dll
*.so

# Executables
*.exe
*.out

# Qt Specific files
*.pro
*.user
moc_*

# Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.png
*.html
*.js
*.css

